# Dependencies
node_modules/

# Database files
*.db

# Environment variables (if added later)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log