<!--  Banner -->
<div class="banner">
    Skandibooks Bookish Events — Literary Moments That Matter
</div>

<!-- Navigation bar -->
<div class="navbar">
    <div><strong> Skandibooks </strong></div>
    <div>
        <a href="/">Home</a>
        <a href="/organiser/home">Organiser</a>
        <a href="/attendee/home">Attendee</a>
    </div>
</div>