<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Bookish Events</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('add-ons') %>

        <h1>Welcome to Skandibooks Bookish Events</h1>

        <p>
            Your hub for creating and attending literary events across our stores.
            <br>
            <br>
            Bookish Events is a web-based event manager built for Skandibooks bookstore chain across Sweden.
            It allows event organisers to create, edit, delete and publish literary events, while
            enabling attendees to browse and book various types of tickets easily.
        </p>

        <p class="quote">
            "A room without books is like a body without a soul." – Marcus Tullius Cicero
        </p>

        <!-- Buttons -->
        <a href="/organiser/home" class="btn">Organiser Home</a>
        <a href="/attendee/home" class="btn">Attendee Home</a>
</body>

</html>